/* You can add global styles to this file, and also import other style files */
body {
    height:100vh; 
    widows: 100%; 
    background-image: url('./assets/images/main_bg.jpg'); 
    background-size: cover; 
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
}