<div class="container-fluid p-4">
    <h4>New Todo</h4>
    <form class="p-3">
        <div class="form-group col-md-3 p-0">
            <label for="">Task</label>
            <input type="text" class="form-control" id="tname" placeholder="Task">
        </div>
        <div class="form-group col-md-3 p-0">
            <label for="exampleFormControlSelect1">Assign To</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Self</option>
            <option>Others</option>
            </select>
        </div>
        <div class="form-group col-md-3 p-0">
            <label for="">Due Date</label>
            <input type="Date" class="form-control" id="dDate" placeholder="Due Date">
        </div>
        <div class="form-group col-md-3 p-0">
            <label for="exampleFormControlInput1">Assign To User</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group col-md-6 p-0">
            <label for="exampleFormControlTextarea1">Todo Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Attach File</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label><input type="checkbox" value="">&nbsp;Set Reminder</label>   
        </div>
        <div class="form-group col-md-6 p-0">
            <button class="btn btn-outline-primary">Add Todo</button>
        </div>
    </form>
    <div class="container">
        <h4>Watchers</h4>
        <ul>
            <li>
                Rohan
            </li>
            <li>
                Rohan
            </li>
            <li>
                Rohan
            </li>
            <li>
                Rohan
            </li>
        </ul>
    </div>
</div>